@charset "UTF-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body, html { height: 100%; }
a { text-decoration: none; }

h1, h2, h3, h4, h5, h6, p { color: #5a4d72; }

h1 { font-size: 2em; text-align: center; color: #000; text-decoration: underline; font-variant: small-caps;  	}
h2 { font-size: 1.5em; color: #000; 	}
h3 { font-size: 1.17em; color: #000; }
h4 { font-size: 1.12em; color: #000; }
h5 { font-size: .93em; color: #000; line-height: 22px; 	}
h6 { font-size: .75em; color: #000; 	}
p  { font-size: 8px; color: #000; 	}

main {
	margin-bottom: 100px;
}

#container {
	display: table;
	margin: 0 auto;
}


#container h4 { padding-bottom: 20px; }

#Ido { 
	width: 335px;
	margin: 20px auto;
	display: table;
}

#yesNoContainer {
	margin: 0 auto;
    display: table;
}
#container ul#questions li {
	margin: 20px 10px 20px 0;
    list-style-type: square;
    display: list-item;
}

#container ul li {
	display: inline;
	margin: 0 20px;
}

#liYes {
	margin-right: 20px;
}

#submit button {
	padding: 3px 20px;
	background-color: lightgray;
}

#submit {
	margin-top: 20px;
    float: right;
}

#yesNoContainer ul {
	margin-bottom: 20px;
}

#Ido p {
	white-space: nowrap;
}




